<footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-image: url(assets/images/awesome.gif);">
    <div class="overlay"></div>
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">MannLab Canada</h2>
          <p>MannLab researches, develops and commercializes the inventions of Professor Mann and his closest collaborators.  
            MannLab is a global ecosystem, where creative visionaries of all 
            kinds have come together to shape how humans and technology will interface for the next 40 years, and beyond.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Site Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Home</a></li>
            <li><a href="#" class="py-2 d-block">About</a></li>
            <!-- <li><a href="#" class="py-2 d-block">Departments</a></li> -->
            <li><a href="#" class="py-2 d-block">People</a></li>
            <li><a href="#" class="py-2 d-block">Showcase</a></li>
            <li><a href="#" class="py-2 d-block">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">330 Dundas St. E, Toronto, Ontario, Canada</span></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">MannLaborg@gmail.com</span></a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
MannLab &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>