<head>
    <!-- Title, description, author -->
    {%- capture _page_title -%}
        {%- if page.title -%}{{- page.title | append: ' | ' -}}{%- endif -%}
        {{- site.title | default: "Untitled Website" -}}
        {%- if site.subtitle -%}{{- site.subtitle | prepend: ' - ' -}}{%- endif -%}
    {%- endcapture -%}
    {%- assign _page_title = _page_title | escape -%}
    {%- assign _page_description = page.description | default: site.description | default: _page_title | escape -%}

    <title>{{- _page_title -}}</title>
    <meta name="description" content="{{- _page_description -}}" />
    <meta name="author" content="{{- site.author -}}" />

    <!-- Open Graph -->
    <meta property="og:title" content="{{- _page_title -}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{- site.avatar | absolute_url -}}" />
    <meta property="og:url" content="{{- page.url | absolute_url -}}" />
    <meta property="og:site_name" content="{{- site.title | escape -}}" />
    <meta property="og:description" content="{{- _page_description -}}" />
    <link rel="icon" type="image/png" href="{{- 'assets/images/icon.png' | absolute_url -}}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{- 'assets/css/open-iconic-bootstrap.min.css' | absolute_url -}}">
    <link rel="stylesheet" href="{{- 'assets/css/animate.css' | absolute_url -}}">

    <link rel="stylesheet" href="{{- 'assets/css/owl.carousel.min.css' | absolute_url -}}">
    <link rel="stylesheet" href="{{- 'assets/css/owl.theme.default.min.css' | absolute_url -}}">
    <link rel="stylesheet" href="{{- 'assets/css/magnific-popup.css' | absolute_url -}}">

    <link rel="stylesheet" href="{{- 'assets/css/aos.css' | absolute_url -}}">

    <link rel="stylesheet" href="{{- 'assets/css/ionicons.min.css' | absolute_url -}}">

    <link rel="stylesheet" href="{{- 'assets/css/bootstrap-datepicker.css' | absolute_url -}}">
    <link rel="stylesheet" href="{{- 'assets/css/jquery.timepicker.css' | absolute_url -}}">


    <link rel="stylesheet" href="{{- 'assets/css/flaticon.css' | absolute_url -}}">
    <link rel="stylesheet" href="{{- 'assets/css/icomoon.css' | absolute_url -}}">
    <link rel="stylesheet" href="{{- 'assets/css/style.css' | absolute_url -}}">
</head>