<script src="{{- 'assets/js/jquery.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/jquery-migrate-3.0.1.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/popper.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/bootstrap.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/jquery.easing.1.3.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/jquery.waypoints.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/jquery.stellar.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/owl.carousel.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/jquery.magnific-popup.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/aos.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/jquery.animateNumber.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/bootstrap-datepicker.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/jquery.timepicker.min.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/scrollax.min.js' | absolute_url -}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{{- 'assets/js/google-map.js' | absolute_url -}}"></script>
<script src="{{- 'assets/js/main.js' | absolute_url -}}"></script>