---
layout: default
---  

{%- include nav.html section="news" -%}

<div class="hero-wrap-cut" style="background-image: url(); background-attachment:fixed;">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text-cut align-items-center justify-content-center" data-scrollax-parent="true">
    <div class="col-md-8 ftco-animate text-center">
    <p class="breadcrumbs"><span class="mr-2"><a href="{{ '/home' | absolute_url }}">Home</a></span> <span>News</span></p>
    <h1 class="mb-3 bread">News</h1>
    </div>
</div>
</div>
</div>

<section class="ftco-section bg-light">
<div class="container">
    <div class="row d-flex">
        <!-- Posts List -->
        {%- assign _news = site.news | sort: 'date' | reverse -%}
        {%- for _article in _news -%}
            {%- capture _title -%}
                <a href="{{- _article.url | absolute_url -}}">{{- _article.title -}}</a>
            {%- endcapture -%}
            {%- capture _subtitle -%}
                <div>{{- _article.date | date_to_long_string -}}</div>
                <div>{% if _article.author -%} {{- _article.author }} {% endif %}</div>
                <!-- <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
            {%- endcapture -%}
            {%- capture _image -%}
                <a href="{{- _article.url | absolute_url -}}" class="block-20 order-md-last" style="background-image: url('{{- '/assets/user_images/' | append: _article.image | absolute_url -}}');"></a>
            {%- endcapture -%}
            {%- capture _excerpt -%}<p>{{- _article.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
            {%- capture _link -%}<a href="{{- _article.url | absolute_url -}}">read more</a>{%- endcapture -%}
            {%- assign _content = _excerpt | append: _link -%}
            {%- include article_block.html title=_title meta=_subtitle excerpt=_content photo=_image -%}
        {%- endfor -%}
    </div>
</div>
</section>