---
layout: default
---  

{%- include nav.html section="showcase" -%}

<div class="hero-wrap-cut" style="background-image: url(); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
    <div class="row no-gutters slider-text-cut align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="{{ '/home' | absolute_url }}">Showcase</a></span> <span>{{- page.title -}}</span></p>
        <h1 class="mb-3 bread">{{- page.title -}}</h1>
        </div>
    </div>
    </div>
</div>

<section class="ftco-section">
    <div class='container' markdown="1">
        {{ page.content | markdownify }}
    </div>
    
</section>